name = "wca-notifier"
main = "src/worker.ts"
compatibility_date = "2023-05-18"

kv_namespaces = [
  { binding = "ANY_NAMESPACE", id = "ID", preview_id= "PREVIEW_ID" }
]

# Cron Triggers
# Docs: https://developers.cloudflare.com/workers/platform/triggers/cron-triggers/
# Configuration: https://developers.cloudflare.com/workers/wrangler/configuration/#triggers
[triggers]
crons = ["0 0 * * *"]

